*{
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100wh;
    background-color: rgba(31, 204, 77, 0.584);

}

h1{
    text-align: center; 
    color: purple; 

}

.button{
    text-align: center;
    color: skyblue;
    margin-left: 100px;

    
}

a{
    margin-left: 100px;


}

img{
    position: relative;
    bottom:10px;
    left: 40px;
    
    height: 40px;
}
